html {
    height: 100%; 
  }
    
body {
    font-family: "Ubuntu", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    flex: 1 1 auto;
}

.header_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: #E8C5E5;
    padding: 20px 10px 20px 0px;
}    

.header_link {
    text-decoration: none;
    padding: 0px 10px;
    font-size: 25px;
    color: #F7F9F2;
    transition: 1s;
    text-shadow: #91DDCF 2px 3px 4px;
}

.header_link:hover {
    text-decoration: none;
    padding: 0px 10px;
    font-size: 40px;
}

.photo_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 250px;
    border-radius: 200px;
    transition: 1s;
    box-shadow: 4px 4px 4px #91DDCF ;
}

.img:hover {
    border-radius: 50px;
    width: 400px; 
}

.name {
    font-size: 70px;
    color: #F19ED2;
    text-shadow: #91DDCF 2px 3px 4px;
    transition: 1s;
}
   
.name:hover {
    font-size: 100px;
    color: #F19ED2;
    text-shadow: #91DDCF 2px 3px 4px;
}

.position {
    font-size: 20px;
    color: #F19ED2;
    text-shadow: #91DDCF 1px 2px 3px;
    padding: 20px 0px;
    text-align: center;
}

.main {
    background-color: #F7F9F2;
    margin: 10px 0px;
}

.main_row {
    display: flex;
    justify-content: space-around;   
}

.columns_one {
    display: flex;
    flex-direction: column;
}

.text {
    width: 500px;
    height: 90px;
    padding-top: 15px;
    font-size: 18px;
    color: #686D76;
}

.title {
    font-size: 25px;
    color: #F19ED2;
    text-shadow: #91DDCF 2px 3px 4px;
}

.contacts_info {
    list-style: none;
    margin-top: -5px;
    margin-left: -40px;
}
    
.footer {
    background-color: #E8C5E5;
    position: absolute;
	width: 100%;
	height: 50px;   
}

.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_footer {
    margin: 10px 30px 0px 0px;
}

.text_footer {
    font-size: 20px;
    color: #F7F9F2;
    text-shadow: #91DDCF 1px 2px 2px;
    margin: 5px 0px 0px 30px;
}
